<form #courseInfo="ngForm">
  <div ngModelGroup="courseData" #courseData="ngModelGroup">
    <div>
      <label for="courseName">Course Name:</label>
      <input 
        required 
        minlength="5"
        ngModel
        name ="courseName"
        #courseName="ngModel"
        id="courseName"
        type="text" 
        class="form-control">
    
        <div class="alert alert-danger"
        *ngIf="courseName.touched && !courseName.valid">
          <div *ngIf="courseName.errors.required">
            Course Name is required
          </div>
          <div *ngIf="courseName.errors.minlength">
            Course Name should be minimun {{courseName.errors.minlength.requiredLength}} characters
          </div>
        </div>
    </div>
  
    <div class="form-group">
      <label for="courseCategory">Category</label>
      <select required ngModel #courseCategory="ngModel" name="courseCategory" id="courseCategory" class="form-control">
        <option value=""></option>
        <!-- <option *ngFor="let category of courseCategories" [value]="category.id">
          {{category.name}}
        </option> -->
        <option *ngFor="let category of courseCategories" [ngValue]="category">
            {{category.name}}
        </option>
      </select>
      <div class="alert alert-danger"
      *ngIf="courseCategory.touched && !courseCategory.valid">
        <div *ngIf="courseCategory.errors.required">
          Course category is required
        </div>
      </div>    
    </div>

    <div class="form-group checkbox">
      <label>
        <input type="checkbox" ngModel name="hasGuarantee"> 30-day money-back guarantee
      </label>
    </div>

    <p>
      {{courseInfo.value | json}}
    </p>

  </div>
</form>